html,
body,
#app {
  height: 100%;
  width: 100%;
  font-family: 'hanyi';
}

#app {
  display: flex;
}

// 滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: 226, 226, 226;
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
}
@font-face {
  font-family: 'hanyi';
  src: url('../assets/hanyi.ttf');
}


