@import 'tailwindcss';
@import './theme.css' layer(theme);
@import './preflight.css' layer(base);
@import './components.css' layer(components);
@import './utilities.css' layer(utilities);

@plugin '@iconify/tailwind4';
@layer theme, base, components, utilities;
